<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>variant details</title>
</head>
<body>
<table align="left" border="2"  style="margin-left:30px">
    <td colspan="2"><center>Specification of {{.VariantName}}</center></td>
    </td>
    <tr>
        <td>Length</td>
        <td>{{.Length}} mm</td>
    </tr>
    <tr>
        <td>Width</td>
        <td>{{.Width}} mm</td>
    </tr>
    <tr>
        <td>Height</td>
        <td>{{.Height}} mm</td>
    </tr>
    <tr>
        <td>BootSpace</td>
        <td>{{.Bootspace}} Litres</td>
    </tr>
    <tr>
        <td>Fuel Tank Capacity</td>
        <td>{{.FuelTankCapacity}} Litres</td>
    </tr><tr>
    <td>Mileage</td>
    <td>{{.Mileage}} kmpl</td>
</tr><tr>
    <td>Cylinders</td>
    <td>{{.Cylinders}}</td>
</tr>
</table>
<table align="left" border="2" style="margin-left:30px">
    <td colspan="2"><center>Features of {{.VariantName}}</center></td>
    </td>
    <tr>
        <td>AirBags</td>
        <td>{{.Airbags}}</td>
    </tr>
    <tr>
        <td>ABS</td>
        <td>{{.ABS}}</td>
    </tr>
    <tr>
        <td>FourWheelDrive</td>
        <td>{{.FourWheelDrive}}</td>
    </tr>
    <tr>
        <td>AirConditioner</td>
        <td>{{.AirConditioner}}</td>
    </tr>
    <tr>
        <td>CupHolders</td>
        <td>{{.CupHolders}}</td>
    </tr><tr>
    <td>PowerWindows</td>
    <td>{{.PowerWindows}}</td>
</tr><tr>
    <td>Tachometer</td>
    <td>{{.Tachometer}}</td>
</tr>
</table>

</body>
</html>